.nav_container{
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav_title{
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
}

.nav_link_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.nav_link{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin: 0px 15px;
    padding: 10px 0px;
}
.nav_link:hover{
    color: red;
    text-decoration: none;
}
.nav_activeLink{
    color: red;
    border-bottom:3px solid red;
}